body {
    background-color: #000000;
}

path {
    fill: transparent;
    stroke: black;
    shape-rendering: optimizeSpeed;
}

text {
    font-family: Helvetica;
    font-size: 11pt;
    fill: white;
}

circle {
    fill: rgb(80,80,255);
    cursor: pointer;
    stroke: white;
    stroke-width: 2.2px;
}

.container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 57%;
    vertical-align: middle;
    overflow: hidden;
}

.content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.main-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
}
